*{
    padding: 0px;
    margin: 0px;

}
.main_image{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    width: 100%;
    background-color: white; 
}

.doc_image{
    display: flex;
    
    position:relative ;
    
    
}
.med_clinic{
    margin:490px 0px 0px 220px;
    position:absolute;
    border:2px solid rgb(60, 112, 224);
    width: 77%;
    height: 230px; 
    text-align: center;
    padding: 10px; 
    margin-bottom: 50%;
    background-color: rgb(60, 112, 224);
    border-radius: 100px 0px  100px 0px;
}
.m_text{
   color: white;
    font-size: 135px;
    
}
.image{
    border-radius: 0px 0px 150px 150px;
}
.u_text{
    border: 2px solid aqua;
    background-color: aqua;
    text-align: center;
    margin: 120px 0px 0px 320px;
    width: 65%;
}
.m1_text{
    color: white;
    font-size: 75px;
}

.dbl_quates
{
    font-size: 100px;
    color: gray;
    padding: 0px; 
    margin: 0px;   
}
.about_us_text{
    font-weight: 600;
    font-size: 50px;
    position: relative;
    margin-top: 20px;
    
}
b{
    font-weight: 900;
    font-size: xx-large;
    color: blue;
    font-size: 100px;
}
pre{
    position: absolute;
    padding-top:0px;
    font-size: 100px;
    color: gray;
}
.content{
   
   text-align: justify;
   padding-left: 20px;
   text-align: justify;
}
.covid{
    width: 100%;
    height: 200px;
    border: 2px solid white;
    text-align: right;
    font-size: 50px;
    color: blue;
}
.three_image
{
    border-radius: 50%;
    margin: 20px;
    
}


#right_image{
    
    box-shadow: 15px 0px 0px -8px blue;
    border-radius: 0px 0px 40px 0px;
    padding-left: 0px;
    width: 90%;
    
}

.service{
    border: 2px solid blue;
    background-color: blue;
    color: white;
    font-size: 40px;
    width: 500px;
    border-radius: 100px 0px 0px 0px;
    text-align: center;

}
.bottom_content{
    border: 2px solid aqua;
    background-color: aqua;
    height: 500px;
    text-align: right   ;
    
}
.paragraph{
    text-align: ;
}
.bottom_image{
    padding: 20px;
    letter-spacing: 20px;
  
}
#three_iamge{
    border-radius: 50%;

}
.para{
text-align: justify;
letter-spacing: 3px;
}
#h_row{
    width:100%;
    height:2px;
    border-width:2px;
    color:gray;
    background-color:gray
}
.contact{
    letter-spacing: 5px;
}
.qr_code{
    position: relative;
    
    width: 130px;
    height: 130px;
    margin-bottom:;
    bottom: 70px;
    left: 100px;
    border-radius: 15px 0px 15px 0px;
    border: 15px solid blue;
    
}

